<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.usermanage.dao.UserMapper">

    <select id="select" parameterType="map" resultType="user">
        SELECT * FROM smbms_user
        <where>
            1=1
                <if test="userCode != null and userCode != '' ">
                    AND userCode = #{userCode}
                </if>
                <if test="userName != null and UserName != ''">
                    AND userName like concat('%',#{userName},'%')
                </if>
                <if test="gender != null and gender >0">
                    AND gender = #{gender}
                </if>
        </where>
    </select>

</mapper>